body {
  margin: 0px !important;
  padding: 0px;
  height: 100%;
  background-color: black;
  color: white;
  }


  .button {
    background-color: rgb(179, 37, 37);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 4vw;
    margin: 1.0px;
    width: 100%;
    height: 25px;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 20px;
    line-height: 25px;
}


.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  min-height: 100vh;
}

.appPage {
  background-image: url(../images/background.jpg);
  background-size: cover;
  position: absolute;
}

#cardDisplay {
  /*background-color: grey;*/
  width: 300px;
  height: 200px;
}

#cardList {
  height: 100px;
}


.introHeader img {

  height: 9vh;
}

.introText {
  margin: 10vw;
  color: white;
  text-shadow: 0px 0px 5px black;
  display: block;

}
.introText p {
  /*display: block;*/
}

.footer .button {
  width: 50%;
  align-content: center;
  display: block;
  margin: auto;
}

#scoreButton {
  margin-top: 20px;
}

#leaderboardPage  #scores {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
}

#leaderboardPage  .entry {
  width: 80%;
  position: relative;
  height: 10vh;
}

#leaderboardPage .entryName {
  float: left;
  padding-left: 10%;
}

#leaderboardPage .entryHand {
  float: right;
  padding-left: 10%;
}


.footer {
  /*height: 5vh; */
  margin: 10px;
  width: 100%;
  display: block;
  text-align: center;
}

.circle {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  font-size: 5vw;
  line-height: 10vw;
  text-align: center;
  background-color: black;
}

#visitedBadge {
  position: relative;
  display: block;
  left: 30;
  bottom: 0;
  color: green;
  text-align: center;
  margin-left: 2vw;
}

.visitLabel {
  text-transform: uppercase;
  font-size: 2vh;
}

#visitCount {
  font-size: 5vh;
  font-weight: bold;
}

#unvisitCount {
  font-size: 5vh;
  font-weight: bold;
}


#unvisitedBadge {
  position: relative;
  display: block;
  right: 30;
  bottom: 0;
  color: rgb(60,60,60);
  text-align: center;
}

#title {
  width: 70%;
  text-align: center;
  margin-top: 10px;

}

#info {
  text-align: center;
  width: 80%;
  margin: 8px;
}

#crawlVenues {
  position: relative;
  display: block;
}

.venueEntry {
  width: 300px;

  border-radius: 25px;
  background-color: rgba(20, 20, 20, .5);
  margin-bottom: 2vh;

}

.venueIcon {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background-color: white;
}

.venueTag {
  display: inline-block;
}

.venueName {
  display: inline-block;
  width: 200px;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-left: 20px;
}

.venuePop {
  float: right;
  margin-right: 20px;
  display: inline-block;
  color: red;
}

#detailsPage {
  background-color: black;
}

#detailLogo img {
  height: 30vh;
  margin-top: 8vh;
}

#detailName {
  color: white;
  font-weight: bold;
  font-size: 3.5vh;
  margin-top: 2vh;
  text-shadow: 0px 0px 5px black;
}

#detailInfo {

  color: white;
  font-size: 3vh;
  display: block;
  margin: 3vh;
}

#detailsPage .footer {
  height: 12vh;
}

#detailsPage .footer .button {
  margin-bottom: 3vh;
}

#welcomeLogo img {
  height: 35vh;
}


#welcomeInfo {
  height: 100px;
  color: white;
  font-size: 4vh;
  font-weight: bold;
  display: block;
  width: 80%;
  margin: 3vw;
}

.ring {
  border: 3px solid #999;
  border-radius: 30px;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
  top: -10px;

}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1,0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2,1.2); opacity: 0.0;}
}

.dot {
  border-radius: 20px;
  height: 10px;
  width: 10px;
  background-color: #999;
  position: absolute;
  right: 8px;
  top: -2px;

}
